.o-btn {
  cursor: pointer;
  display: inline-block;
  padding: spacer(0.5) spacer(1);

  @include hover-focus() {
    text-decoration: none;
  }

  &--primary {
    padding: spacer(0.5) spacer(2.5);
    background-color: $white;
    border: 0;
    color: $brand-blue;
    letter-spacing: rem(0.5);
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;

    @include hover-focus() {
      color: $orange;
      background-color: $cyan;
    }
  }

  &--secondary {
    padding: spacer(0.5) spacer(2.5);
    background-color: $brand-blue;
    border: 0;
    color: $white;
    letter-spacing: rem(0.5);
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;

    @include hover-focus() {
      color: $brand-blue;
      background-color: $cyan;
    }
  }

  &--tertiary {
    padding: spacer(0.5) spacer(2.5);
    background-color: darken($brand-blue, 10%);
    color: $white;
    letter-spacing: rem(0.5);
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;

    @include hover-focus() {
      color: $orange;
      background-color: darken($brand-blue, 20%);
    }
  }

  &--input-addon {
    background-color: $brand-blue;
    border: $border;
    border-left: 0;
    border-radius: 0 $border-radius $border-radius 0;
    color: $white;

    @include media-breakpoint-down(sm) {
      width: 30%;
    }
  }

  &--large {
    padding: spacer(1) spacer(1.5);
  }

  &--icon {
    svg {
      color: $orange;
      float: right;
      position: relative;
      top: 2px;
    }

    // Not sure what else to do here
    .ext {
      display: none;
    }
  }

  &--square {
    border-radius: 0;
    margin: 0 rem(2) rem(2);
    max-width: 250px;
    text-transform: uppercase;
    text-align: center;

    @include hover-focus() {
      a {
        color: $white !important;
        text-decoration: none;
      }
    }

    a {
      color: $gray-medium !important;
      display: inline-block;
      font-weight: $fw-medium;
      font-size: rem(15);
      height: 100%;
      width: 100%;
    }
  }

  &--active {
    background-color: $blue-gray;

    a {
      color: $white !important;
      text-decoration: none;
    }
  }

  &.is-disabled {
    background-color: $gray-light;
    color: $gray-medium;
    cursor: not-allowed;
    pointer-events: all !important;

    @include hover-focus() {
      background-color: $gray-light;
      color: $gray-medium;
    }
  }
}

.button {
  margin: 0;
}

.draw-border {
  @include btn-border-drawing($brand-blue, $orange, 4px, bottom, right);
}
