.o-icon {
  margin-left: 12px;

  &--orange {
    color: $orange;
  }

  &--blue-gray {
    color: $blue-gray;
  }

  &--black {
    color: $black;
  }

  &--blue {
    color: $brand-blue;
  }

  &--white {
    color: $white;
  }
}


svg.mailto,
svg.ext {
  display: none;
}
