.o-link {
  color: $link-color;
  cursor: pointer;
  font-weight: $fw-semi-bold;

  &:hover {
    color: $link-hover-color;
  }

  &--angle-right {
    font-size: rem(17);
    font-weight: $fw-bold;

    svg {
      margin-left: spacer(0.5);
    }
  }
}
