/*
  Settings - Colors
 */

// Brand colors
$brand-blue: #3D5A80;
$blue-gray: #98C1D9;
$cyan: #E0FBFC;
$gray-dark: #293241;
$orange: #EE6C4D;


// Supporting colors
$white: #fcfffc;
$black: #040f0f;
$gray-medium: #999;
$gray-light: #ddd;

// Development colors
// Font
$body-color: $black;
$link-color: $blue-gray;
$link-hover-color: darken($blue-gray, 40%);

// Border
$button-border: $gray-dark;

// Alpha
$white-alpha-1: rgba(255, 255, 255, 0.1);
$black-alpha-1: rgba(0, 0, 0, 0.1);
