/*
  Settings - Fonts
 */


// ## Hosted Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Families
$font-custom-family: 'Roboto';
$ff-bebas: 'Bebas Neue';

// Weights
$fw-medium: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

$project-lineheight-base: 1.625;
