/*
  Settings - Fonts
 */


// ## Hosted Google fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

// Families
$font-custom-family: 'Oswald', sans-serif;

// Weights
$fw-medium: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

$project-lineheight-base: 1.625;
