.c-view-filters {
  .form--inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include media-breakpoint-up(lg) {
      flex-direction: column;
    }
  }
}
