{%
  set classes = [
    'l-row--no-columns',
    'c-instagram-block',
  ]
%}

{{ attach_library('bangachain/elfsight') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="elfsight-app-1615389e-2721-4bd7-964b-bf29d4065603"></div>
</div>
