{%
  set classes = [
    'c-header__hours',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <i class="far fa-clock fa-2x o-icon o-icon--blue"></i>
  {{ content['#markup']|raw }}
</div>
