<div class="cart--cart-block">
  <div class="cart-block--summary">
    <a class="cart-block--link__expand" href="<%= url %>">
      <span class="c-cart-block--summary__icon">
        <i class="fas fa-shopping-cart o-icon--black fa-3x"></i>
      </span>
      <span class="cart-block--summary__count"><%= count_text %></span>
    </a>
  </div>
</div>
