.alert {
  background-color: $imperial-red;
  color: $white;
  padding: rvr(2);
  position: relative;
  display: flex;
  justify-content: center;

  &-primary {
    background-color: $minion-yellow;
    color: $gray-dark;

    a {
      color: $orange !important;
    }
  }

  &-high {
    background-color: $imperial-red;
    color: $white;

    a {
      color: $gray-medium !important;
    }
  }

  .c-message {
    margin: auto;
  }



  button.close {
    font-size: rem(25);
    font-weight: 300;
    line-height: rem(25);
    position: absolute;
    right: spacer(2);
    top: spacer(1);
    cursor: pointer;
  }
}
