.block-commerce-cart-flyout {
  padding-left: spacer(3);
  border-left: 1px solid $gray-medium;
}

.cart-block {
  &--summary {
    position: relative;
  }

  &--summary__count {
    background: $brand-green;
    height: rem(20);
    width: rem(20);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 23px;
    text-align: center;
    color: $gray-light;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(18);
    overflow: hidden;
  }
}
