.c-cart-block {
  &--summary__count {
    background: $gray-light;
    height: rem(20);
    width: rem(20);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 23px;
    text-align: center;
    color: $gray-dark;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(18);
  }
}
