.block-commerce-cart-flyout {
  margin-left: rvr(1);
  margin-right: rvr(1);
}

.cart-block {
  &--summary {
    position: relative;
  }

  &--summary__count {
    background: $orange;
    height: rem(20);
    width: rem(20);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 12px;
    text-align: center;
    color: $white;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(18);
    overflow: hidden;
  }

  &--offcanvas-contents__links {
    a {
      padding: spacer(0.5) spacer(2.5);
      background-color: $brand-blue;
      border: 0;
      color: $white;
      letter-spacing: rem(0.5);
      text-transform: uppercase;
      transition: background-color 0.2s ease-in;
      margin: auto;

      @include hover-focus() {
        color: $brand-blue;
        background-color: $cyan;
      }
    }
  }
}
