.c-pagination {
  height: 3rem;

  &__link {
    display: block;
    font-weight: $fw-medium;
    padding: spacer(0.33) spacer(0.5);
    transition: $transition-base;

    @include hover-focus() {
      background-color: $cyan;
    }

    @include media-breakpoint-up('md') {
      padding: spacer(0.5) spacer(1);
    }

    &--selected {
      background-color: $brand-blue;
      color: $cyan !important;

      @include hover-focus() {
        background-color: darken($brand-blue, 20%) !important;
        color: $cyan !important;
      }
    }

    &--disabled {
      color: $gray-light;
    }

  }
}
