.c-product {
  &:not(.c-product--teaser) {
    @include media-breakpoint-up(md) {
      max-width: 75%;
      margin: auto;
    }
  }

  &--teaser {
    border: 1px solid $gray-medium;
  }

  &__description {
    padding-top: rvr(2);
    border-top: 3px solid $blue-gray;
  }

  &__speed,
  &__glide,
  &__turn,
  &__fade {
    display: flex;
    flex-direction: column;
    align-items: center;

    span:nth-child(2) {
      border: 1px solid $orange;
      border-radius: 30px;
      color: $brand-blue;
      width: rem(50);
      height: rem(50);
      margin: rem(10) rem(6);
      padding: rem(8);
      line-height: rem(35);
      text-align: center;
      font-size: rem(16);
      font-weight: 700;
    }

    span {
      display: block;
    }

    &--small {
      border: 1px solid $orange;
      border-radius: 30px;
      color: $brand-blue;
      width: rem(35);
      height: rem(35);
      margin: rem(2);
      padding: rem(2);
      line-height: rem(28);
      text-align: center;
      font-size: rem(12);
      font-weight: 700;
    }
  }

  &__price-stock {
    display: flex;
    align-items: center;
  }

  &__price {
    margin-right: rvr(0.5);
    font-size: rem(24);
  }

  .c-form legend .fieldset-legend {
    font-size: rem(16) !important;
  }

  &__image {
    padding: 1rem;

    .field--name-field-media-image {
      margin: auto;
    }
  }
}
