.c-product {
  &:not(.c-product--teaser) {
    @include media-breakpoint-up(md) {
      max-width: 75%;
      margin: auto;
    }

    .c-field-media-image {
      width: 100%;
      object-fit: contain;
      aspect-ratio: 1 / 1;
    }
  }

  &__title {
    margin-bottom: rvr(0.25);

    @include media-breakpoint-down(md) {
      h1 {
        font-size: rem(32);
      }
    }

    .h2 {
      position: relative;
      margin-bottom: 0;
      transition: $transition-base;
    }
  }

  &--teaser {
    @include media-breakpoint-down(md) {
      margin: auto;
      width: 75%;
    }

    @include hover-focus() {
      img {
        transform: scale(1.1);
      }

      .h2 {
        color: darken($brand-blue, 25%);
      }
    }

    .c-product__image,
    .c-field-media-image {
      margin: auto;
      overflow: hidden;
    }
  }

  &__description {
    padding-top: rvr(2);
    border-top: 3px solid $blue-gray;

    @include media-breakpoint-down(md) {
      h2 {
        font-size: rem(32);
      }
    }
  }

  &__flight-numbers {
    margin-bottom: rvr(0.25);
  }

  &__speed,
  &__glide,
  &__turn,
  &__fade {
    display: flex;
    flex-direction: column;
    align-items: center;

    span:nth-child(2) {
      border: 1px solid $orange;
      border-radius: 30px;
      color: $brand-blue;
      width: rem(50);
      height: rem(50);
      margin: rem(10) rem(6);
      padding: rem(8);
      line-height: rem(32);
      text-align: center;
      font-size: rem(16);
      font-weight: 700;
    }

    span {
      display: block;
    }

    &--small {
      border: 1px solid $orange;
      border-radius: 30px;
      color: $brand-blue;
      width: rem(35);
      height: rem(35);
      margin: rem(2);
      padding: rem(2);
      line-height: rem(28);
      text-align: center;
      font-size: rem(12);
      font-weight: 700;
      transition: $transition-base;
    }
  }

  &__price-stock {
    display: flex;
    align-items: center;
  }

  &__price {
    margin-right: rvr(0.5);
    font-size: rem(24);
  }

  .c-form legend .fieldset-legend {
    font-size: rem(16) !important;
  }

  &__image {
    margin-bottom: rvr(0.25);
    position: relative;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;

    img {
      transition: $transition-base;
      width: 100%;
      object-fit: contain;
      aspect-ratio: 1 / 1;
    }
  }

  &__brand {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    color: $brand-blue;
    background-color: $gray-light;
    font-size: 12px;
  }
}
