.c-block {
  &--border {
    &::before {
      content: '';
      margin-bottom: vr(3);
      display: block;
      height: 1px;
      width: 100%;
      background: $gray-500;
    }

    &::after {
      content: '';
      margin-top: vr(3);
      display: block;
      height: 1px;
      width: 100%;
      background: $gray-500;
    }
  }

  &__title {
    color: $brand-blue;
    text-align: center;
    text-transform: uppercase;
    font-weight: $fw-bold;
  }

  &__subheading {
    font-weight: $fw-semi-bold;
    text-align: center;
  }

  &__cta {
    max-width: 300px;
    margin: auto;
    .o-btn {
      display: block;
      margin: rvr(1) auto;
    }
  }
}
