.c-inline-blockcolumns-module {
  .c-block__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  .c-field-unlimited-pg-reference {
    margin: rem(16);

    @include media-breakpoint-up(md) {
      width: calc(25% - 2rem);
    }
  }
}
