.c-image-and-text {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px; // don't exceed width of photo on smaller screens

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
    max-width: none;
    margin: auto;
  }

  &--right {
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  &--left {
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row-reverse;
    }
  }

  &__text {
    flex: 1;
    align-self: center;
    text-align: center;
  }

  &__image {
    flex: 0 0 auto;
    display: flex;
    align-content: center;
    align-items: center;
  }

}
