{% extends "node--teaser.html.twig" %}

{% block content %}
  <div class="c-teaser-team-member__photo">
    {{ content.field_photo }}
  </div>
  <div class="c-teaser-team-member__title u-fw__bold">
    <div class="h2">{{ label }}</div>
    <div class="h3">PDGA #{{ content.field_pdga_number.0['#markup'] }}</div>
  </div>
{% endblock %}
