.c-footer {
  font-size: rem(15);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    'first'
    'second'
    'third';
  padding: rvr(2) rvr(4);
  border-bottom: 2px solid white;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'first second third';
  }

  &__logo-container {
    grid-area: first;
    margin-bottom: rvr(2);

    img {
      max-width: 200px;
    }
  }

  &__menu {
    grid-area: second;
  }

  &__subfooter {
    grid-area: third;
  }

  @include media-breakpoint-down(xs) {
    text-align: center;
  }

  &__social {
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    &-icon {
      font-size: rem(14);
      margin-left: spacer(0.25);

      &:first-child {
        margin-left: 0;

        .o-icon {
          margin-left: 0;
        }
      }
    }

    svg.ext {
      display: none;
    }
  }

  &__address {
    display: flex;
    margin-bottom: rvr(1);

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    svg {
      margin-left: 0 !important;
      margin-right: 12px;
    }
  }

  &__menu {
    @include media-breakpoint-down(md) {
      margin-bottom: rvr(2);
    }

    .c-menu-main {
      flex-direction: column;

      &__item {
        margin: 0;

        a {
          padding: 5px 0;

          &::after {
            content: none;
          }
        }
      }

    }
  }
}

.c-copyright {
  max-width: none !important;
  p {
    width: 100%;
  }
}

.c-contact-us {
  margin-bottom: rvr(1);
}
