.c-footer {
  font-size: rem(15);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    'first'
    'second'
    'third';
  padding: rvr(2);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'first second third';
  }

  &__logo-container {
    grid-area: first;

    img {
      max-width: 200px;
    }
  }

  &__subfooter {
    grid-area: third;
  }

  @include media-breakpoint-down(xs) {
    text-align: center;
  }

  &__social {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    margin-top: rvr(1);

    &-icon {
      font-size: rem(14);
      margin-left: spacer(0.5);

      &:first-child {
        margin-left: 0;
      }
    }

    svg.ext {
      display: none;
    }
  }
}

.c-copyright {
  p {
    width: 100%;
  }
}

.c-contact-us {
  display: flex;
  justify-content: center;
  padding-top: rvr(2);
}
