.c-header {
  box-shadow: 0 rem(12) rem(24) rem(-24) $gray-dark;
  border-bottom: 5px solid $dark-green;

  .l-container {
    @include media-breakpoint-up(lg) {
      max-width: 90%;
    }
  }

  &__row {
    align-items: center;
    justify-content: center;
    padding: rvr(1) 0;
  }

  // Logo
  &__logo-container {
    @include media-breakpoint-down(xl) {
      margin-top: spacer(1);
      width: 100%;
    }

    img {
      width: rem(90);

      @include media-breakpoint-down(xl) {
        display: block;
        margin: 0 auto;
      }
    };
  }

  // Menu
  &__menu-container {
    display: flex;

    .region-header {
      display: flex;
      align-items: center;
    }
  }

  // Search icon
  &__search {
    font-size: font-size(30);

    .o-icon {
      color: $brand-green;
    }
  }
}
