.c-header {
  position: relative;
  z-index: 10;
  box-shadow: 0 rem(12) rem(24) rem(-24) $gray-dark;

  &__row {
    align-items: center;
    justify-content: space-between;
    padding: rvr(0.5) rvr(2);
  }

  // Logo
  &__logo-container {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: auto;
    }

    img {
      width: rem(275);

      @include media-breakpoint-down(xl) {
        display: block;
        margin: 0 auto;
      }
    };
  }

  // Menu
  &__main-menu {
    flex: 2;
    position: relative;
    border-top: 1px solid $gray-light;

    @include media-breakpoint-down(lg) {
      display: hidden;
    }

    @include media-breakpoint-up(md) {
      padding-left: rvr(2);
    }
  }

  &__search {
    .path-cart &,
    .path-checkout & {
      display: none;
    }

    flex-grow: 1;
    max-width: 500px;
    margin-left: auto;

    .hide {
      display: none;
    }
  }

  &__account-menu {
    display: flex;
    margin: 0;
    @include media-breakpoint-down(lg) {
      margin: auto;
    }

    .region-header {
      display: flex;
      align-items: center;
    }
  }

  &__hamburger {
    --mb-bar-height: #{rem(4)};
    --mb-bar-spacing: #{rem(6)};
    --mb-bar-width: 0.4;
    width: rem(40);
    height: rem(60);
    position: absolute;
    top: 0;
    right: 0;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    b {
      border-radius: 0;
    }

  }

  &__hours {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    line-height: rem(16);
    padding: rem(16);
    color: $brand-blue;

    @include media-breakpoint-up(md) {
      position: absolute;
      right: rvr(2);
      top: rem(6);
      padding: 0;
    }

    .o-icon {
      margin-right: rem(8);
    }
  }
}
