.c-header {
  box-shadow: 0 rem(12) rem(24) rem(-24) $gray-dark;

  &__row {
    align-items: center;
    justify-content: space-between;
    padding: rvr(0.5) rvr(1);
  }

  // Logo
  &__logo-container {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: auto;
    }

    img {
      width: rem(60);

      @include media-breakpoint-down(xl) {
        display: block;
        margin: 0 auto;
      }
    };
  }

  // Menu
  &__main-menu {
    flex: 2;
    margin-left: rvr(0.5);
  }

  &__account-menu {
    display: flex;
    margin: auto;

    @include media-breakpoint-up(md) {
      margin: 0 0 0 auto;
    }

    .region-header {
      display: flex;
      align-items: center;
    }
  }
}
