.c-menu-account {
  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
}

.c-menu-main,
.c-menu-account {
  &__item {
    display: inline-block;
    margin: 0 rem(16);
    position: relative;
  }

  &__link {
    display: block;
    line-height: 1;
    padding: px(20) 0; // Fill min header height

    @include hover-focus() {
      text-decoration: none;
    }

    @include media-breakpoint-down(lg) {
      padding-top: px(23);
    }
  }
}

.c-menu-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-transform: uppercase;

  * {
    text-transform: uppercase !important;
    color: $brand-blue;
  }

  .dropdown-menu.show {
    border-left: 2px solid $gray-200;
    border-right: 2px solid $gray-200;
    border-bottom: 2px solid $gray-200;
  }

  @include media-breakpoint-down(lg) {
    #block-bangachain-main-menu & {
      display: none;
    }
  }
}
