.c-secondary-menu {
  display: flex;
  align-items: center;
  margin-left: 2rem;

  .region-secondary-menu {
    display: flex;
    justify-content: flex-end;
  }

  .o-menu__item {
    margin: 0 rem(16);
  }
}
