.c-secondary-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rvr(1);
  border-top: 5px solid $dark-green;

  .region-secondary-menu {
    margin: 0 1rem
  }

  .o-menu__item {
    margin: 0 rem(16);
  }
}
