.c-gdpr {
  padding: rvr(1);
  width: 100%;

  .eu-cookie-compliance-default-button {
    text-shadow: none;
    background-image: none;
    box-shadow: none;
    border: 0;
    font-weight: $fw-semi-bold;

    @include hover-focus() {
      background-image: none;
    }
  }

  .eu-cookie-compliance-message {
    max-width: 75%;
  }

  p {
    margin-bottom: rvr(1);

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}

.sliding-popup-bottom {
  width: 100%;
}
