{#
/**
 * @file
 * Custom user login page for Lifespan theme.
 *
#}
{% extends "page.html.twig" %}

{% block content %}
	<div class="l-container u-vr__pt--2 u-vr__pb--5">
    <div class="l-row l-row--one-column">
      <div class="l-col l-col--9">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endblock %}

