button {
  border: 0;
  background: 0;
  padding: 0;
}


#contact-message-feedback-form,
#contact-message-team-application-form,
#contact-message-generic-form {
  max-width: 700px;
  margin: auto;
}

#contact-message-feedback-form {
  margin: rvr(4) auto;
}
